body {
	height: 100vh;
	margin: 0;
}

header {
	height: min-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

header > img {
	height: 100px;
	margin-right: 2em;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main > img {
	height: 450px;
	margin: 4em 0;
}

.NotAButton {
	padding: 1em;
	border: 1px solid #6d7785;
	border-radius: 8px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.NotAButton:hover {
	background-color: #dee0e3;
}
